  server {
    listen       80 default_server;
    listen       [::]:80 default_server;
    server_name  _;
    client_max_body_size 4G;

    root /usr/share/nginx/html;
    index index.html;
    
    location / {
        try_files $uri $uri/ =404;
    }
} 